html, body {
  font-family: 'Josefin Slab';
}

div.encompassing {
  font-family: 'Josefin Slab';
}

.hr-subheading {
  width: 45vw;

}

h1.first-element-page {
	font-family: 'Josefin Slab';
	font-size: 42px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
  font-family: 'Josefin Slab';
}

h3 {
	font-family: 'Josefin Slab';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h4 {
  font-family: 'Josefin Slab';
}

h5 {
  font-family: 'Josefin Slab';
}

h6 {
  font-family: 'Josefin Slab';
}

p {
	font-family: 'Josefin Slab';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  letter-spacing: 1.5px;
}
blockquote {
	font-family: 'Josefin Slab';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Josefin Slab';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
