html, body {
  height:100%;
  color: #fff;
}

.full-logo {
  max-width: 768px;
  padding: 0px 20px;
}

#pouring-soon {
  margin-top:0;
}

.first-element-page {
  padding-top: 60px;
  margin-top: 0;
}

.block-email {
  padding: 6px 14px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0px;
  margin: 5px 0px;
}

div.full-page {
  /*min-height: calc(100vh - 50px);*/
  min-height: 100vh;
  width: 100vw;
  color: #fff;
  padding:0 20 0 30;
}

.image-filter {
  /*position:absolute;*/
  /*min-height: calc(100vh - 50px);*/
  min-height: 100vh;
  width:100vw;
  background-color: rgba(50,50,50, .3);
}

#home-page {
  background: url(bricks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*margin-top: 50px;*/
}

.no-background-photo {
  background-color: #59323C;
}

#about-us {
  background-color: #59323C;
}

#our-beers {
  background-color: #8C6954;
}
#footer {
  background-color: #260126;
}

#the-brewery {
  background: url(buckets1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#store {
  background: url(outsidecorner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
